"*":
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "eab26c67-49b1-c116-2e02-f16e316c36f8"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
