"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fe44d08e-9bb0-4f7a-8ffa-44c1c599dd37"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "eab26c67-49b1-c116-2e02-f16e316c36f8"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
